/target
.DS_Store
/scratch
/.vscode
/examples/output/**/*.png
/examples/output/**/*.jpg
/examples/output/**/*.jpeg
/out
/wpt/output
/wpt/*.json
/wpt/tests
/wpt/.triage
/apps/wpt/output
/sites
.blitz-cache